<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <ul class="list-unstyled">
            <h6>The School</h6>
            <li class="d-flex justify-content-center"><a href="/style-guide/">Home</a></li>
            <li class="d-flex justify-content-center"><a href="/privacy/">Key People</a></li>
            <li class="d-flex justify-content-center"><a href="/terms/">Trainee Reps</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <ul class="list-unstyled">
            <li class="text-brand">&copy; Imperial School of Anaesthesia 2010 - {% now "Y" %}</li>
        </ul>
    </div>
</div>