{% extends "base.html" %}
{% load static %}
{% block title %}Page Not Found | Imperial School of Anaesthesia{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <!-- PARAGRAPH -->
                    <div class="rich-text">
                        <h2>We are sorry, we know what it feels like</h2>
                        <p>Please be ensured, the error has been reported and a fix it has been sent to our technical know-it-all department.</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}