/*===========================================
=            BOOTSTRAP VARIABLES            =
===========================================*/
// Dark Red
$brand: rgba(239, 236, 240, 1);
$text-brand: rgba(122, 104, 132, 1);
$secondary: rgba(102, 153, 153, 1);
.text-brand { color: $text-brand; }
$white: #fff;
$body-text: rgba(68, 68, 68, 1);
$enable-responsive-font-sizes: true;

@import '../node_modules/bootstrap/scss/bootstrap';

body {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $body-text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

a {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    color: #3398a4;
}

.btn-primary {
    background-color: $body-text;
    color: $white !important;
    &:hover {
        background-color: $brand;
    }
}

.assistive-text { /*For accessibility to skip navigation*/
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}


/*==============================
=            HEADER            =
==============================*/
nav {
    &.bg-dark {
        background-color: $brand !important;
    }
    &.navbar {
        a {   
            &:hover {
                background-color: $secondary !important;  
            }
        }
        li {
            a {
                &:hover {
                    background-color: $secondary !important;
                    color: $white !important;
                }
            }
            &.active a, &.active a:hover {
                background-color: $secondary !important;
                color: $white !important;    
            }                
        }
    }
}


/*===============================
=            CONTENT            =
===============================*/
/* Main Background */
#wrap-background {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/static/images/background.jpg');
    #wrap-title {
        position: absolute;
        top: 160px;
        left: 80px;
        h1 {
            font-size: 3.4em;
        }
        h2 {
            font-size: 1.5em;
        }
    }
}

/* Blocks */
.rich-text {
    p {
        font-size: 0.9rem;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}


/*==============================
=            FOOTER            =
==============================*/
footer {
    background-color: $brand;
    font-size: 0.87rem;
    overflow: hidden;
    ul {
        h6 {
            color: $text-brand;
        }
        li {
            a {
                color: $body-text;
                &:hover {
                    color: $text-brand;
                }
            }
        }
    }
}


/*=====================================
=            MEDIA QUERIES            =
=====================================*/
/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }

/* Landscape phones and down */
@media (max-width: 525px) {
    h1 {
        font-size: 2rem;
    }
    .table {
        font-size: 0.82rem;
    }
}